# OS
.DS_Store

# Android / IntelliJ
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle / Kotlin
.gradle/
.kotlinc/
.kotlin/
**/build/

# Local env
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Misc
captures/
